body {
  background: #E2EAF4;
  font-size: 16px;
  line-height: 1.5; }

.content-box {
  box-shadow: 0 8px 24px -12px rgba(0, 0, 0, 0.1), 0 2px 12px -4px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  padding: 2rem 1rem;
  position: relative; }

@media only screen and (min-width: 992px) {
  .content-box {
    padding: 3rem; } }

.page {
  margin: auto;
  padding-bottom: 5rem; }
  .page.page-md {
    max-width: 672px; }
  .page.page-sm {
    max-width: 456px; }

.custom-select {
  -webkit-appearance: none; }

.form-control.custom-field {
  font-size: 1.125rem;
  box-shadow: 0 4px 8px -4px rgba(0, 0, 0, 0.1), 0 1px 2px -1px rgba(0, 0, 0, 0.16);
  height: 3rem; }

.nav.custom-tabs .nav-item a {
  color: #888D93; }
  .nav.custom-tabs .nav-item a.active {
    color: #232628; }

.divider {
  background: #CCD5DF;
  height: 2px;
  margin: 2rem 0; }

h3, .h3 {
  font-size: 1.25rem;
  line-height: 1.4;
  font-weight: 700;
  font-weight: 600;
  letter-spacing: -0.4px; }

.section-title {
  position: relative;
  margin-bottom: 1.5rem; }
  .section-title .btn-edit {
    position: absolute;
    right: 0rem;
    top: 0rem; }
  .section-title::after {
    left: 0;
    bottom: -0.5rem;
    content: '';
    position: absolute;
    background: #CCD5DF;
    display: block;
    width: 5rem;
    height: 2px; }

.steps {
  display: flex;
  padding: 1rem 1.5rem;
  margin-bottom: 1rem; }
  .steps a.step-item {
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #232628;
    font-size: 0.875rem;
    line-height: 2; }
    .steps a.step-item:hover {
      text-decoration: none; }
    .steps a.step-item .step-number {
      display: flex;
      background: #9ABED0;
      color: #fff;
      width: 2rem;
      height: 2rem;
      border-radius: 2rem;
      font-weight: 700;
      justify-content: center;
      align-items: center;
      margin-right: 0.5rem; }
      .steps a.step-item .step-number i {
        font-size: 1.25rem; }
    .steps a.step-item.current .step-number {
      background: #232628; }
    .steps a.step-item.completed .step-number {
      background: #23B743; }

.check-state {
  display: flex;
  background: #3FA9DD;
  width: 1rem;
  height: 1rem;
  border-radius: 1rem;
  color: #fff;
  justify-content: center;
  align-items: center; }

.choice-item {
  display: block;
  text-align: center;
  cursor: pointer;
  margin: 0.5rem 0 1rem; }
  .choice-item input[type="checkbox"], .choice-item input[type="radio"] {
    display: none; }
  .choice-item .check-state {
    display: none;
    position: absolute;
    right: 0.5rem;
    top: 0.5rem; }
  .choice-item .choice-item-content {
    border: 1px solid #E2EAF4;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    border-radius: 4px;
    height: 6rem;
    width: 100%;
    margin-bottom: 0.5rem;
    position: relative; }
    .choice-item .choice-item-content > img {
      max-height: 80%;
      max-width: 80%; }
  .choice-item label {
    display: block;
    cursor: pointer;
    font-weight: 500;
    font-size: 0.875rem; }
  .choice-item input[type="checkbox"]:checked + label, .choice-item input[type="radio"]:checked + label {
    color: #1b719b; }
    .choice-item input[type="checkbox"]:checked + label .choice-item-content, .choice-item input[type="radio"]:checked + label .choice-item-content {
      border: 1px solid #3FA9DD;
      box-shadow: 0 0 0 1px #3FA9DD; }
    .choice-item input[type="checkbox"]:checked + label .check-state, .choice-item input[type="radio"]:checked + label .check-state {
      display: flex; }

@media only screen and (min-width: 992px) {
  .choice-item-content > img {
    max-width: 60%; }
  .steps a.step-item {
    justify-content: flex-start; } }

img {
  max-width: 100%; }

.signature-area {
  position: relative;
  display: block;
  height: 12rem;
  box-shadow: 0 4px 8px -4px rgba(0, 0, 0, 0.1), 0 1px 2px -1px rgba(0, 0, 0, 0.16);
  border: 1px solid #CCD5DF;
  border-radius: 4px;
  padding: 0.75rem; }
  .signature-area .btn-edit {
    position: absolute;
    right: 0.5rem;
    top: 0.5rem; }
  .signature-area .signature-legend {
    font-size: 0.875rem; }

.sender-logo img {
  max-width: 12rem; }

.grid-table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0 0.5rem; }
  .grid-table thead th:last-child {
    padding-right: 1.25rem; }
  .grid-table thead th:first-child {
    padding-left: 1.25rem; }
  .grid-table td {
    background: #fff;
    vertical-align: middle; }
    .grid-table td:last-child {
      border-top-right-radius: 4px;
      border-bottom-right-radius: 4px;
      padding-right: 1.25rem; }
    .grid-table td:first-child {
      border-top-left-radius: 4px;
      border-bottom-left-radius: 4px;
      padding-left: 1.25rem; }
  .grid-table tbody th {
    background: #fff;
    vertical-align: middle; }
    .grid-table tbody th:first-child {
      border-top-left-radius: 4px;
      border-bottom-left-radius: 4px;
      padding-left: 1.25rem; }

@media only screen and (max-width: 767px) {
  .hidden-xs {
    display: none; } }

.text-md {
  font-size: 0.875rem; }

.fw-600 {
  font-weight: 600; }

.btn-facebook {
  background: #3B6096;
  color: #fff; }
  .btn-facebook:hover {
    background: #2d4971;
    color: #fff; }
  .btn-facebook:active {
    background: #1e314d; }

.btn-google {
  background: #F23031;
  color: #fff; }
  .btn-google:hover {
    background: #e10e0f;
    color: #fff; }
  .btn-google:active {
    background: #b10b0c; }
