// Variables //
$white:    #fff;
$gray-100: #F1F6FC;
$gray-200: #E2EAF4;
$gray-300: #CCD5DF;
$gray-400: #B5BBC1;
$gray-500: #888D93;
$gray-600: #666A6F;
$gray-700: #505357;
$gray-800: #393D40;
$gray-900: #232628;
$black:    #000;

$theme-colors: (
	"primary":	#3FA9DD,
	"success":	#23B743,
	"danger": 	#EB3B5A,
	"info":			#7C4EB0,
	"dark":			$gray-900,
	"warning":	#FFC108,
	"light":		$gray-200,
);

$transition: all 0.2s ease-in-out;

// Retrieve color Sass maps
@function color($key: "primary") {
  @return map-get($colors, $key);
}

@function theme-color($key: "primary") {
  @return map-get($theme-colors, $key);
}

@function gray($key: "100") {
  @return map-get($grays, $key);
}

// Request a theme color level
@function theme-color-level($color-name: "primary", $level: 0) {
  $color: theme-color($color-name);
  $color-base: if($level > 0, $black, $white);
  $level: abs($level);

  @return mix($color-base, $color, $level * $theme-color-interval);
}

$font-weight-bold: 600;