@import "var";


body {
	background: $gray-200;
	font-size: 16px;
	line-height: 1.5;
}


.content-box {
	box-shadow: 0 8px 24px -12px rgba(0,0,0,0.10), 0 2px 12px -4px rgba(0,0,0,0.10);
	border-radius: 4px;
	padding: 2rem 1rem;
	position: relative;

}


@media only screen and (min-width: 992px) {
	.content-box {
		padding: 3rem;
	}
}

.page {
	margin: auto;
	padding-bottom: 5rem;
	&.page-md {
		max-width: 672px;
	}
	&.page-sm {
		max-width: 456px;
	}
}

.custom-select {
	-webkit-appearance: none;
}

.form-control.custom-field {
	font-size: 1.125rem;
	box-shadow: 0 4px 8px -4px rgba(0,0,0,0.10), 0 1px 2px -1px rgba(0,0,0,0.16);
	height: 3rem;
}


.nav.custom-tabs {
	.nav-item {
		a {
			color: $gray-500;
			&.active {
				color: $gray-900;
			}
		}
	}
}


.divider {
	background: $gray-300;
	height: 2px;
	margin: 2rem 0;
}

// Typography

h3, .h3 {
	font-size: 1.25rem;
	line-height: 1.4;
	font-weight: 700;
	font-weight: 600;
	letter-spacing: -0.4px;
}

.section-title {
	position: relative;
	margin-bottom: 1.5rem;
	.btn-edit {
		position: absolute;
		right: 0rem;
		top: 0rem;
	}
	&::after {
		left: 0;
		bottom: -0.5rem;
		content: '';
		position: absolute;
		background: $gray-300;
		display: block;
		width: 5rem;
		height: 2px;
	}
}

// Steps

.steps {
	display: flex;
	padding: 1rem 1.5rem;
	margin-bottom: 1rem;
	a.step-item {
		flex-grow: 1;
		display: flex;
		align-items: center;
		justify-content: center;
		color: $gray-900;
		font-size: 0.875rem;
		line-height: 2;
		&:hover {
			text-decoration: none;
		}
		.step-number {
			display: flex;
			background: #9ABED0;
			color: #fff;
			width: 2rem;
			height: 2rem;
			border-radius: 2rem;
			font-weight: 700;
			justify-content: center;
			align-items: center;
			margin-right: 0.5rem;
			i {
				font-size: 1.25rem;
			}
		}
		&.current {
			.step-number {
				background: $gray-900;
			}
		}
		&.completed {
			.step-number {
				background: theme-color('success');
			}
		}
	}
}


// Custom Radio/Checkbox


.check-state {
	display: flex;
	background: theme-color('primary');
	width: 1rem;
	height: 1rem;
	border-radius: 1rem;
	color: #fff;
	justify-content: center;
	align-items: center;
}

.choice-item {
	display: block;
	text-align: center;
	cursor: pointer;
	margin: 0.5rem 0 1rem;
	input[type="checkbox"], input[type="radio"] {
		display: none;
	}
	.check-state {
		display: none;
		position: absolute;
		right: 0.5rem;
		top: 0.5rem;
	}
	.choice-item-content {
		border: 1px solid $gray-200;
		display: flex;
		justify-content: center;
		align-items: center;
		padding: 1rem;
		border-radius: 4px;
		height: 6rem;
		width: 100%;
		margin-bottom: 0.5rem;
		position: relative;
		& > img {
			max-height: 80%;
			max-width: 80%;
		}
	}
	label {
		display: block;
		cursor: pointer;
		font-weight: 500;
		font-size: 0.875rem;
	}
	input[type="checkbox"]:checked + label, input[type="radio"]:checked + label {
		color: darken(theme-color('primary'), 20%);
		.choice-item-content {
			border: 1px solid theme-color('primary');
			box-shadow: 0 0 0 1px theme-color('primary');
		}
		.check-state {
			display: flex;
		}
	}
}

@media only screen and (min-width:992px) {
	.choice-item {
		&-content {
			& > img {
				max-width: 60%;
			}
		}
	}
	.steps {
		a.step-item {
			justify-content: flex-start;
		}
	}
}

img {
	max-width: 100%;
}




// Signature

.signature-area {
	position: relative;
	display: block;
	height: 12rem;
	box-shadow: 0 4px 8px -4px rgba(0,0,0,0.10), 0 1px 2px -1px rgba(0,0,0,0.16);
	border: 1px solid $gray-300;
	border-radius: 4px;
	padding: 0.75rem;
	.btn-edit {
		position: absolute;
		right: 0.5rem;
		top : 0.5rem;
	}
	.signature-legend {
		font-size: 0.875rem;
	}
}


.sender-logo {
	img {
		max-width: 12rem;
	}
}


// Table

.grid-table {
	width: 100%;
	border-collapse:separate; 
	border-spacing:0 0.5rem;
	thead th {
		&:last-child {
			padding-right: 1.25rem;
		}
		&:first-child {
			padding-left: 1.25rem;
		}
	}
	td {
		background: #fff;
		vertical-align: middle;
		&:last-child {
			border-top-right-radius: 4px;
			border-bottom-right-radius: 4px;
			padding-right: 1.25rem;
		}
		&:first-child {
			border-top-left-radius: 4px;
			border-bottom-left-radius: 4px;
			padding-left: 1.25rem;
		}
	}
	tbody {
		th {
			background: #fff;
			vertical-align: middle;
			&:first-child {
				border-top-left-radius: 4px;
				border-bottom-left-radius: 4px;
				padding-left: 1.25rem;
			}
		}
	}
}



// Utilities


@media only screen and (max-width:767px) {
	.hidden-xs {
		display: none;
	}
}

.text-md {
	font-size: 0.875rem;
}

.fw-600 {
	font-weight: 600;
}

$fb-color: #3B6096;
$gl-color: #F23031;

.btn-facebook {
	background: $fb-color;
	color: #fff;
	&:hover {
		background: darken($fb-color, 10%);
		color:#fff;
	}
	&:active {
		background: darken($fb-color, 20%);
	}
}

.btn-google {
	background: $gl-color;
	color: #fff;
	&:hover {
		background: darken($gl-color, 10%);
		color:#fff;
	}
	&:active {
		background: darken($gl-color, 20%);
	}
}