mixin register-form
	form
		.form-group
			label.sr-only(for='firstName') First Name
			input#firstName.form-control.custom-field(type='text', placeholder='First Name')
		.form-group
			label.sr-only(for='lastName') Last Name
			input#lastName.form-control.custom-field(type='text', placeholder='Last Name')
		.form-group
			label.sr-only(for='registerEmail') Email address
			input#registerEmail.form-control.custom-field(type='email', placeholder='Email Address')
		.form-group
			label.sr-only(for='registerPass') Password
			input#registerPass.form-control.custom-field(type='password', placeholder='Password')
		.form-group
			label.sr-only(for='registerPassConfirm') Confirm Password
			input#registerPassConfirm.form-control.custom-field(type='password', placeholder='Confirm Password')
		.form-group.form-check
			input#exampleCheck1.form-check-input(type='checkbox')
			label.form-check-label(for='exampleCheck1') I agree with  
				a(href='#0')  Terms & Conditions
		.mt-4
			a.btn.btn-primary.btn-lg.btn-block(href='dashboard.html') Create Account


mixin header-box
	.header-box.py-5
		.btn-grou.float-right
			button.btn.btn-light.btn-sm.dropdown-toggle(type='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
				span.flag-icon.flag-icon-us 
				|  English
			.dropdown-menu.dropdown-menu-right
				a.dropdown-item(href='#')
					span.flag-icon.flag-icon-es 
					|  Spanish
				a.dropdown-item(href='#')
					span.flag-icon.flag-icon-fr 
					|  French

mixin social-login
	.my-4
		.text-center.text-md.text-muted.fw-600
			span or continue with

	a.btn.btn-lg.btn-block.btn-facebook(href='dashboard.html')
		span.d-inline
			svg(xmlns='http://www.w3.org/2000/svg', width='24', height='24', viewBox='0 0 24 24')
				g(fill='#ffffff')
					path(d='M20 3H4a1 1 0 0 0-1 1v16a1 1 0 0 0 1 1h8.615v-6.96h-2.338v-2.725h2.338v-2c0-2.325 1.42-3.592 3.5-3.592.699-.002 1.399.034 2.095.107v2.42h-1.435c-1.128 0-1.348.538-1.348 1.325v1.735h2.697l-.35 2.725h-2.348V21H20a1 1 0 0 0 1-1V4a1 1 0 0 0-1-1z' fill='#ffffff')
		span  Facebook

	.my-3

	a.btn.btn-lg.btn-block.btn-google(href='dashboard.html')
		span.d-inline
			svg(xmlns='http://www.w3.org/2000/svg', width='24', height='24', viewBox='0 0 24 24')
				g(fill='#ffffff')
					path(d='M20.283 10.356h-8.327v3.451h4.792c-.446 2.193-2.313 3.453-4.792 3.453a5.27 5.27 0 0 1-5.279-5.28 5.27 5.27 0 0 1 5.279-5.279c1.259 0 2.397.447 3.29 1.178l2.6-2.599c-1.584-1.381-3.615-2.233-5.89-2.233a8.908 8.908 0 0 0-8.934 8.934 8.907 8.907 0 0 0 8.934 8.934c4.467 0 8.529-3.249 8.529-8.934 0-.528-.081-1.097-.202-1.625z' fill='#ffffff')
		span  Google
		
		
mixin login-form
	form
		.form-group
			label.sr-only(for='loginEmail') Email address
			input#loginEmail.form-control.custom-field(type='email', placeholder='Email Address')
		.form-group
			label.sr-only(for='loginPass') Password
			input#loginPass.form-control.custom-field(type='password', placeholder='Password')
			.text-md.text-right.mt-1
				a.text-muted(href='#0') Restore Password
		.mt-4
			a.btn.btn-primary.btn-lg.btn-block(href='dashboard.html') Submit
			
			
mixin choice-item(id, name, type, img, label)
	.choice-item
		input(type=type, id=id, name=name)
		label(for=id)
			.choice-item-content
				.check-state
					i.bx.bx-check
				img(src=img alt=label)
			span=label