extends _main.pug

block title
	| BNB - Transaction Cancelled!

block content
	
	.container
		.row.justify-content-center
			.col-md-12
				
				.page.page-md
					+header-box
					
					
					.content-box.bg-white
						
						
						h3.text-center.mb-4 Transaction Cancelled
						
						
						.text-center
							p If you faced any problems with our service, please feel free to contact us
							p support@gmail.com
							p or call us
								strong  +12 499 1939100
						
						
									
						.mt-5
							a.btn.btn-primary.btn-lg.btn-block(href='receiver-info.html') Pickup Another Transfer
							br
							a.btn.btn-outline-secondary.btn-lg.btn-block(href='dashboard.html') Dashboard