extends _main.pug

block title
	| BNB - Confirm and Sign

block content
	
	.container
		.row.justify-content-center
			.col-md-12
				
				.page.page-md
					+header-box
					
					.steps 
						a.step-item.completed(href='receiver-info.html')
							span.step-number
								i.bx.bx-check
							span.hidden-xs Receiver Information
						a.step-item.completed(href='deposit-account.html')
							span.step-number
								i.bx.bx-check
							span.hidden-xs Deposit Account Details
						a.step-item.current(href='#0')
							span.step-number 3
							span.hidden-xs Confirmation
					
					.content-box.bg-white
						
						
						h3.section-title Summary
							a.btn.btn-sm.btn-edit.btn-outline-secondary(href='#0') Edit
						
						
						table.table.table-sm.table-borderless
							tr
								td Receiver:
								th Abdoulaye Bah
							tr
								td Sending Company:
								th Money Gram
							tr
								td Amount Received:
								th 500.00 CAD
							tr
								td Deposit Account:
								th GTBank
							tr
								td Account Number:
								th 0049491004949
						
						form
							.form-group
								label Signature:
								.signature-area
									.signature-legend.text-legend Draw your signature with your mouse
									a.btn.btn-link.btn-sm.text-muted.btn-edit(href='#0') Clear
									
						.mt-5
							a.btn.btn-primary.btn-lg.btn-block(href='success.html') Accept Money
							br
							a.btn.btn-outline-secondary.btn-lg.btn-block(href='cancel.html') Cancel