extends _main.pug

block title
	| BNB - Dashboard

block content
	
	.container
		.row.justify-content-center
			.col-md-12
				
				.page
					+header-box
					h2 Users

					table.table.table-borderless.grid-table
						thead
							tr
								th(scope='col') #
								th(scope='col') First Name
								th(scope='col') Last Name
								th(scope='col') Email
								th(scope='col') Status
								th.text-right(scope='col') Actions
						tbody
							tr
								th(scope='row') 1
								td Mark
								td Otto
								td mark.otto@gmail.com
								td
									span.badge.badge-warning Pending Verification
								td.text-right
									.btn-group
										button.btn.btn-outline-secondary.btn-sm.dropdown-toggle(type='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
											| Small button
										.dropdown-menu.dropdown-menu-right
											a.dropdown-item(href='#') Action
											a.dropdown-item(href='#') Action
											a.dropdown-item(href='#') Action
							
							tr
								th(scope='row') 2
								td Mark
								td Otto
								td mark.otto@gmail.com
								td
									span.badge.badge-success Verified
								td.text-right
									.btn-group
										button.btn.btn-outline-secondary.btn-sm.dropdown-toggle(type='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
											| Small button
										.dropdown-menu.dropdown-menu-right
											a.dropdown-item(href='#') Action
											a.dropdown-item(href='#') Action
											a.dropdown-item(href='#') Action
						
					nav(aria-label='Page navigation example')
						ul.pagination
							li.page-item.disabled
								a.page-link(href='#', tabindex='-1', aria-disabled='true') Previous
							li.page-item.disabled
								a.page-link(href='#') 1
							li.page-item
								a.page-link(href='#') 2
							li.page-item
								a.page-link(href='#') 3
							li.page-item
								a.page-link(href='#') Next


							
					.pt-5
						hr
						p Demo links:
						a.btn.btn-primary(href='receiver-info.html') Accept Transfer