extends _main.pug

block title
	| BNB - Deposit Account Details

block content
	
	.container
		.row.justify-content-center
			.col-md-12
				
				.page.page-md
					+header-box
					
					.steps 
						a.step-item.completed(href='receiver-info.html')
							span.step-number
								i.bx.bx-check
							span.hidden-xs Receiver Information
						a.step-item.current(href='#0')
							span.step-number 2
							span.hidden-xs Deposit Account Details
						a.step-item(href='#0')
							span.step-number 3
							span.hidden-xs Confirmation
					
					.content-box.bg-white
						
						.mb-4
							h4.h5 Abdoulaye Bah
							p Pick Up code: XXXXXXXX 
								br
								| Amount received: 250.00 CAD
						
						
						h3.section-title Choose where to deposit
						
						form
							.form-row
								.col-6.col-md-4
									+choice-item('choice01', 'bank', 'radio', 'img/logo-7.png', 'Orange Money')
								.col-6.col-md-4
									+choice-item('choice02', 'bank', 'radio', 'img/logo-8.png', 'MTN Money')
								.col-6.col-md-4
									+choice-item('choice03', 'bank', 'radio', 'img/logo-9.png', 'Ecobank')
								.col-6.col-md-4
									+choice-item('choice04', 'bank', 'radio', 'img/logo-10.png', 'Cashplus')
								.col-6.col-md-4
									+choice-item('choice05', 'bank', 'radio', 'img/logo-11.png', 'Airtel Money')
								.col-6.col-md-4
									+choice-item('choice06', 'bank', 'radio', 'img/logo-12.png', 'GTBank')
								
							.divider
							
							h3.section-title Account Details
							
							.form-group
								label(for='accountNumber') Account Number
								input.form-control.custom-field#accountNumber(type='text' placeholder='Account Number')
							
							.form-group
								label(for='confirmAccount') Re-enter Your Account Number
								input.form-control.custom-field#confirmAccount(type='text' placeholder='Confirm Account Number')
							.form-group
								label(for='idNumber') ID Number
								input.form-control.custom-field#idNumber(type='text' placeholder='ID Number')
							.form-group
								label(for='phoneNumber') Phone Number
								.input-group
									select.form-control.custom-select.custom-field
										option(selected='') +1 - United States
										option +1 - Canada
									input.form-control.custom-field#phoneNumber(type='text', placeholder='Phone')
									
							.mt-5
								a.btn.btn-primary.btn-lg.btn-block(href='confirmation.html') Next