extends _main.pug

block title
	| BNB - Homepage

block content
	
	.container
		.row.justify-content-center
			.col-md-12
				.page.page-sm
					+header-box
								
					.content-box.bg-white
					
						
						ul#loginTabs.nav.custom-tabs.mb-4(role='tablist')
							li.nav-item.h4.pl-0.mr-3
								a#login-tab.active(data-toggle='tab', href='#login', role='tab', aria-controls='login', aria-selected='true') Sign In
							li.nav-item.h4.pl-0
								a#register-tab(data-toggle='tab', href='#register', role='tab', aria-controls='register', aria-selected='false') Register
							
						#loginTabsContent.tab-content
							#login.tab-pane.fade.show.active(role='tabpanel', aria-labelledby='login-tab')
								+login-form
								+social-login
								
							#register.tab-pane.fade(role='tabpanel', aria-labelledby='register-tab')
								
								+register-form
								
								+social-login
							
						
						
					
					