extends _main.pug

block title
	| BNB - Receiver Information

block content
	
	.container
		.row.justify-content-center
			.col-md-12
				
				.page.page-md
					+header-box
					
					.content-box.bg-white.py-4.text-center.mb-4
						h4.alert-heading.text-success Profile Created!
						p.text-muted Please verify your account to start using our service
						hr
						a.btn.btn-success(href='verification.html') Verify Now
					.steps
						a.step-item.current(href='#0')
							span.step-number 1
							span.hidden-xs Receiver Information
						a.step-item(href='#0')
							span.step-number 2
							span.hidden-xs Deposit Account Details
						a.step-item(href='#0')
							span.step-number 3
							span.hidden-xs Confirmation
					
					.content-box.bg-white
						h3.section-title Select Sending Company
						
						form
							.form-row
								.col-6.col-md-4
									+choice-item('choice01', 'sender', 'radio', 'img/logo-1.png', 'MoneyGram')
								.col-6.col-md-4
									+choice-item('choice02', 'sender', 'radio', 'img/logo-2.png', 'Western Union')
								.col-6.col-md-4
									+choice-item('choice03', 'sender', 'radio', 'img/logo-3.png', 'World Remit')
								.col-6.col-md-4
									+choice-item('choice04', 'sender', 'radio', 'img/logo-4.png', 'Xoom')
								.col-6.col-md-4
									+choice-item('choice05', 'sender', 'radio', 'img/logo-5.png', 'Yahwii')
								.col-6.col-md-4
									+choice-item('choice06', 'sender', 'radio', 'img/logo-6.png', 'Transferwise')
								
							.divider
							
							.form-row
								.col-md-6
									.form-group
										label(for='moneyAmount') How much are you receiving?
										.input-group
											input.form-control.custom-field#moneyAmount(type='text', placeholder='Amount')
											select.form-control.custom-select.custom-field
												option(selected='') CAD
												option(value='1') USD
												option(value='2') EUR
												option(value='3') GBP


								.col-md-6
									.form-group
										label(for='pickUpCode') Pickup Code
										input.form-control.custom-field#pickUpCode(type='text' placeholder='Pickup Code')
							
							.mt-4
								a.btn.btn-primary.btn-lg.btn-block(href='deposit-account.html') Next