extends _main.pug

block title
	| BNB - Success!

block content
	
	.container
		.row.justify-content-center
			.col-md-12
				
				.page.page-md
					+header-box
					
					
					.content-box.bg-white
						
						
						h3.text-center.mb-4 Money Deposited!
						
						
						.row
							.col-md-5
								.sender-logo.text-center.pb-2
									img(src='img/logo-1.png')
							.col-md-7
								table.table.table-sm.table-borderless
									tr
										td Sender:
										th Western Union
									tr
										td Pickup Code:
										th XXXXXXX
									tr
										td Confirmation Number:
										th XXXXXXXX

								p
									strong Thank You!
						
						
						
									
						.mt-5
							a.btn.btn-primary.btn-lg.btn-block(href='receiver-info.html') Pickup Another Transfer
							br
							a.btn.btn-outline-secondary.btn-lg.btn-block(href='dashboard.html') Dashboard