extends _main.pug

block title
	| BNB - Profile Verification

block content
	
	.container
		.row.justify-content-center
			.col-md-12
				
				.page.page-md
					+header-box
					
					.content-box.bg-white
						h3.section-title Verify Your Profile
						
						p Please upload a government issued document to verify your account.
						
						form
							
							.form-group
								label(for='customFile') Select document to upload
								.custom-file
									input#customFile.custom-file-input(type='file')
									label.custom-file-label(for='customFile') Choose file
								small.form-text.text-muted JPG or PNG. Max file size 2MB
							.divider
							.form-group.form-check
								input#exampleCheck1.form-check-input(type='checkbox')
								label.form-check-label(for='exampleCheck1') I confirm that information provided is up-to-date and correct.
							
							.mt-4
								a.btn.btn-primary.btn-lg.btn-block(href='receiver-info.html') Confirm and Upload